
<!DOCTYPE html>
<html lang="en">
<head>
        <% include partials/_header %>
</head>
<body>
    <h1><%= greeting %></h1> 
        <li><a href='#http://www.lighthouselabs.ca'>lighthouselabs</a></li>
        <li><a href='#http://www.google.com'>Google </a></li>
</body>
</html>

